@import url("/name/ulbricht/dlx/ui/css/global.css");

/* controls in tool bar shall not get the focus */
.tool-bar .button {
    -fx-focus-traversable: false;
}

#statusBar {
    -fx-padding: 0.5em;
    -fx-spacing: 0.5em;
}

#statusLabel .fluent-icon-regular {
    -fx-fill: -dlx-orange;

}

#statusLabel:running .fluent-icon-regular {
    -fx-fill: -dlx-green;

}

/* default icon color */
.fluent-icon-regular {
    -fx-fill: -fx-text-inner-color;
}

/* red icons */
.fluent-icon-red .fluent-icon-regular {
    -fx-fill: -dlx-red;
}

/* blue icons */
.fluent-icon-blue .fluent-icon-regular {
    -fx-fill: -dlx-blue;
}

/* green icons */
.fluent-icon-green .fluent-icon-regular {
    -fx-fill: -dlx-green;
}

/* orange icons */
.fluent-icon-orange .fluent-icon-regular {
    -fx-fill: -dlx-orange;
}