#sourceCodeArea {
    -fx-font-family: monospace;
    -fx-font-size: 1.2em;
    -fx-highlight-current-paragraph: true;
}

.code-default {
    -fx-fill: -mpx-code-default;
}

.code-instruction {
    -fx-font-weight: bold;
    -fx-fill: -mpx-code-instruction;
}

.code-register {
    -fx-fill: -mpx-code-register;
}

.code-int {
    -fx-fill: -mpx-code-number;
}

.code-string {
    -fx-fill: -mpx-code-string;
}

.code-directive {
    -fx-fill: -mpx-code-directive;
}

.code-label-definition {
    -fx-font-weight: bold;
    -fx-fill: -mpx-code-label-definition;
}

.code-label-reference {
    -fx-fill: -mpx-code-label-reference;
}

.code-comment {
    -fx-font-style: italic;
    -fx-fill: -mpx-code-comment;
}

.code-comma,
.code-paren {
    -fx-fill: -mpx-code-punctuation;
}

.code-unknown {
    -fx-fill: -mpx-code-unknown;
}