@import url("modena-dark.css");

.root {
    /* common colors */
    -dlx-red: #F48771;
    -dlx-green: #88D084;
    -dlx-blue: #6FB3EF;
    -dlx-orange: #FFC040;

    /* background colors */
    -dlx-red-background: derive(-dlx-red, -50%);
    -dlx-green-background: derive(-dlx-green, -50%);

    /* syntax highlighting colors */
    -dlx-code-default: #D4D4D4;
    -dlx-code-instruction: #569CD6;
    -dlx-code-register: #4EC9B0;
    -dlx-code-number: #B5CEA8;
    -dlx-code-string: #CE9178;
    -dlx-code-directive: #68CDFE;
    -dlx-code-label-definition: #DCDCAA;
    -dlx-code-label-reference: #DCDCAA;
    -dlx-code-comment: #6A9955;
    -dlx-code-punctuation: #C586C0;
    -dlx-code-unknown: #FF5C5C;
}
